Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  bugprone-*,
  cppcoreguidelines-*,
  -*avoid-c-arrays,
  -*avoid-do-while,
  -*avoid-unchecked-container-access,
  -*magic-numbers,
  -*constant-array-index,
  -*easily-swappable-parameters,
  -*empty-catch,
  -*enum-class,
  -*enum-size,
  -*no-int-to-ptr,
  -*non-private-member-variables-in-classes,
  -*pro-type-reinterpret-cast,
  -*switch-missing-default-case
CheckOptions:
  - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value: '1'
  - key: bugprone-narrowing-conversions.IgnoreConversionFromTypes
    value: 'size_t;ptrdiff_t;streamsize;int'
  - key: cppcoreguidelines-narrowing-conversions.IgnoreConversionFromTypes
    value: 'size_t;ptrdiff_t;streamsize;int'
WarningsAsErrors: ''
HeaderFilterRegex: ''
UseColor : true
FormatStyle: 'none'