Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  bugprone-*,
  cppcoreguidelines-*,
  -*avoid-c-arrays,
  -*avoid-do-while,
  -*magic-numbers,
  -*avoid-non-const-global-variables,
  -*constant-array-index,
  -*easily-swappable-parameters,
  -*empty-catch,
  -*enum-size,
  -*no-int-to-ptr,
  -*non-private-member-variables-in-classes,
  -*optin.core.EnumCastOutOfRange,
  -*pro-bounds-array-to-pointer-decay,
  -*pro-type-reinterpret-cast,
  -*switch-missing-default-case
CheckOptions:
  - key: bugprone-non-zero-enum-to-bool-conversion.EnumIgnoreList
    value: 'HtmlTag::SelectionOptions'
WarningsAsErrors: ''
HeaderFilterRegex: ''
UseColor : true
FormatStyle: 'none'