*~
*.~*
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.lai
*.la
*.a
*.lib
*.out
*.bak
*.dcu
*.dci
*.dcp
*.drc
*.dsk
*.dof
*.lps
*.local
*.identcache
*.stat
*.res
*.exe
*.dll
*.todo
*.tvsconfig
*.zip
_deps/
CMakeFiles/
CPM_modules/
*/__history/
*/__recovery/
**/backup/
**/build/
[Ll]ib/**/*
[Bb]in/**/*
.vscode/*
!.vscode/settings.json
out/