#pragma code_page(65001)
/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this file,
  You can obtain one at https://mozilla.org/MPL/2.0/.

  Copyright (c) 2024 Robert Di Pardo and Contributors
*/
#include "dialogs.h"

AR_ABOUT_DLG DIALOGEX 30, 30, 232, 170
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_RTLREADING
CAPTION AR_ABOUT_CAPTION
FONT 9, "Segoe UI", 0, 0, 0
BEGIN
    LTEXT     "", ID_PLUGIN_VERSION_TXT, 83,6,120,16
    CONTROL   "", ID_RELEASE_NOTES_LINK, "Static", DEFAULT_LINK_STYLE, 88,18,60,10
    CONTROL   "", ID_BUG_TRACKER_LINK, "Static", DEFAULT_LINK_STYLE, 104,28,24,10
    CONTROL   "", ID_PLUGIN_REPO_LINK, "Static", DEFAULT_LINK_STYLE, 102,38,32,16
    LTEXT     PLUGIN_AUTHOR_COPYRIGHT, ID_PLUGIN_AUTHOR_TXT, 44,54,256,10
    LTEXT     PLUGIN_MAINTAINER_COPYRIGHT, ID_PLUGIN_MAINTAINER_TXT, 56,64,256,10
    LTEXT     "", ID_PLUGIN_LICENSE_TXT, 80,76,256,10
    CONTROL   "SimpleIni", ID_SIMPLEINI_LINK, "Static", DEFAULT_LINK_STYLE, 29,88,30,10
    LTEXT     SIMPLEINI_COPYRIGHT, ID_SIMPLEINI_LICENSE_TXT, 60,88,256,14
    LTEXT     "", ID_SIMPLEINI_TXT, 168,88,64,10
    CONTROL   "TinyXML-2", ID_TINYXML_LINK, "Static", DEFAULT_LINK_STYLE, 27,98,34,14
    LTEXT     TINYXML_COPYRIGHT, ID_TINYXML_LICENSE_TXT, 61,98,256,14
    LTEXT     "", ID_TINYXML_TXT, 162,98,256,14
    CONTROL   "", ID_ENTITIES_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 87,112,62,10
    CONTROL   "", ID_TRANSLATIONS_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 92,124,48,10
    LTEXT     "\\u0000", ID_UNICODE_USER_FMT_TXT, 60,138,36,10
    LTEXT     "", ID_UNICODE_FMT_LABEL_TXT, 106,138,136,10
    CONTROL   "", ID_UNICODE_CONFIG_LINK, "Static", DEFAULT_LINK_STYLE, 102,148,24,10
END

AR_UNICODE_DLG DIALOGEX 30, 60, 200, 52
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST | WS_EX_RTLREADING
CAPTION AR_UNICODE_DLG_CAPTION
FONT 9, "Segoe UI", 0, 0, 0
BEGIN
    EDITTEXT       ID_CONFIG_EDIT, 64,10,32,12, ES_RIGHT | ES_MULTILINE | ES_WANTRETURN
    LTEXT          "0000", ID_CONFIG_LABEL_2, 99,12,32,12
    LTEXT          "", ID_CONFIG_LABEL_1, 122,12,32,12
    DEFPUSHBUTTON  "", IDCANCEL, 128,32,48,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON  "", IDRETRY, 76,32,48,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON  "", IDOK, 24,32,48,14, DEFAULT_BTTN_STYLE
END
