#pragma code_page(65001)
/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this file,
  You can obtain one at https://mozilla.org/MPL/2.0/.

  Copyright (c) 2024 Robert Di Pardo and Contributors
*/
#include "dialogs.h"

ZH_ABOUT_DLG DIALOGEX 30, 30, 232, 170
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION ZH_ABOUT_CAPTION
FONT 9, "Segoe UI", 0, 0, 0
BEGIN
    LTEXT      "", ID_PLUGIN_VERSION_TXT, 78,6,128,16
    CONTROL    "", ID_RELEASE_NOTES_LINK, "Static", DEFAULT_LINK_STYLE, 93,18,34,10
    CONTROL    "", ID_BUG_TRACKER_LINK, "Static", DEFAULT_LINK_STYLE, 101,28,18,10
    CONTROL    "", ID_PLUGIN_REPO_LINK, "Static", DEFAULT_LINK_STYLE, 100,38,20,16
    LTEXT      PLUGIN_AUTHOR_COPYRIGHT, ID_PLUGIN_AUTHOR_TXT, 36,54,256,10
    LTEXT      PLUGIN_MAINTAINER_COPYRIGHT, ID_PLUGIN_MAINTAINER_TXT, 47,64,256,10
    LTEXT      "", ID_PLUGIN_LICENSE_TXT, 75,76,256,10
    LTEXT      "", ID_SIMPLEINI_TXT, 36,88,64,10
    CONTROL    "SimpleIni", ID_SIMPLEINI_LINK, "Static", DEFAULT_LINK_STYLE, 53,88,30,10
    LTEXT      SIMPLEINI_COPYRIGHT, ID_SIMPLEINI_LICENSE_TXT, 83,88,256,14
    LTEXT      "", ID_TINYXML_TXT, 30,98,256,14
    CONTROL    "TinyXML-2", ID_TINYXML_LINK, "Static", DEFAULT_LINK_STYLE, 61,98,34,14
    LTEXT      TINYXML_COPYRIGHT, ID_TINYXML_LICENSE_TXT, 95,98,256,14
    CONTROL    "", ID_ENTITIES_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 93,112,32,10
    CONTROL    "", ID_TRANSLATIONS_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 94,124,32,10
    LTEXT      "", ID_UNICODE_FMT_LABEL_TXT, 64,138,128,10
    LTEXT      "\\u0000", ID_UNICODE_USER_FMT_TXT, 126,138,64,10
    CONTROL    "", ID_UNICODE_CONFIG_LINK, "Static", DEFAULT_LINK_STYLE, 101,148,18,10
END

ZH_UNICODE_DLG DIALOGEX 30, 60, 160, 52
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST
CAPTION ZH_UNICODE_DLG_CAPTION
FONT 9, "Segoe UI", 0, 0, 0
BEGIN
    LTEXT           "", ID_CONFIG_LABEL_1, 38,12,32,12
    EDITTEXT        ID_CONFIG_EDIT, 60,10,32,12, ES_RIGHT | ES_MULTILINE | ES_WANTRETURN
    LTEXT           "0000", ID_CONFIG_LABEL_2, 96,12,32,12
    DEFPUSHBUTTON   "", IDCANCEL, 100,32,32,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   "", IDRETRY, 64,32,32,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   "", IDOK, 28,32,32,14, DEFAULT_BTTN_STYLE
END
