/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this file,
  You can obtain one at https://mozilla.org/MPL/2.0/.

  Copyright (c) Martijn Coppoolse <https://github.com/vor0nwe>
  Revisions copyright (c) 2022-2025 Robert Di Pardo <dipardo.r@gmail.com>
*/
#include "resource.h"

MAINICON ICON "HTMLTag.ico"

1 VERSIONINFO
  FILEVERSION HTMLTAG_VERSION_WORDS
  PRODUCTVERSION HTMLTAG_VERSION_WORDS
  FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x40004L
  FILETYPE 0x2L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "Comments", L"https://github.com/rdipardo/nppHTMLTag/issues\0"
      VALUE "CompanyName", L"Voronw\353\0"
      VALUE "FileDescription", L"HTML Tag plugin for Notepad++\0"
      VALUE "InternalName", L"HTMLTag\0"
      VALUE "LegalCopyright", L"\251 Martijn Coppoolse\0"
      VALUE "OriginalFilename", L"HTMLTag.dll\0"
      VALUE "ProductName", L"HTML Tag\0"
      VALUE "ProductVersion", HTMLTAG_VERSION
      VALUE "FileVersion", HTMLTAG_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

ID_ABOUT_HTML_TAG_DLG DIALOGEX 30, 30, 232, 170
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION DEFAULT_CAPTION
FONT 8, "Tahoma", 0, 0, 0
BEGIN
    LTEXT      DEFAULT_VERSION_TXT, ID_PLUGIN_VERSION_TXT, 74,6,92,16
    CONTROL    DEFAULT_RELEASE_NOTES_TXT, ID_RELEASE_NOTES_LINK, "Static", DEFAULT_LINK_STYLE, 88,18,88,10
    CONTROL    DEFAULT_BUG_TRACKER_TXT, ID_BUG_TRACKER_LINK, "Static", DEFAULT_LINK_STYLE, 102,28,26,10
    CONTROL    DEFAULT_REPO_LINK_TXT, ID_PLUGIN_REPO_LINK, "Static", DEFAULT_LINK_STYLE, 92,38,58,16
    LTEXT      PLUGIN_AUTHOR_COPYRIGHT, ID_PLUGIN_AUTHOR_TXT, 44,54,256,10
    LTEXT      PLUGIN_MAINTAINER_COPYRIGHT, ID_PLUGIN_MAINTAINER_TXT, 56,64,256,10
    LTEXT      PLUGIN_LICENSE, ID_PLUGIN_LICENSE_TXT, 68,76,92,10
    LTEXT      DEFAULT_ABOUT_3RD_PARTY, ID_SIMPLEINI_TXT, 36,88,64,10
    CONTROL    L"SimpleIni", ID_SIMPLEINI_LINK, "Static", DEFAULT_LINK_STYLE, 56,88,30,10
    LTEXT      SIMPLEINI_COPYRIGHT, ID_SIMPLEINI_LICENSE_TXT, 86,88,256,14
    LTEXT      DEFAULT_ABOUT_3RD_PARTY_ALSO, ID_TINYXML_TXT, 30,98,256,14
    CONTROL    L"TinyXML-2", ID_TINYXML_LINK, "Static", DEFAULT_LINK_STYLE, 65,98,34,14
    LTEXT      TINYXML_COPYRIGHT, ID_TINYXML_LICENSE_TXT, 99,98,256,14
    CONTROL    DEFAULT_ENTITIES_FILE_TXT, ID_ENTITIES_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 87,112,86,10
    CONTROL    DEFAULT_L10N_FILE_TXT, ID_TRANSLATIONS_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 88,124,82,10
    LTEXT      DEFAULT_UNICODE_FORMAT_LABEL, ID_UNICODE_FMT_LABEL_TXT, 60,138,162,10
    LTEXT      L"\\u0000", ID_UNICODE_USER_FMT_TXT, 144,138,64,10
    CONTROL    DEFAULT_UNICODE_CONFIG_LABEL, ID_UNICODE_CONFIG_LINK, "Static", DEFAULT_LINK_STYLE, 97,148,38,10
END

ID_UNICODE_FMT_CONFIG_DLG DIALOGEX 30, 60, 200, 52
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME| WS_EX_TOPMOST
CAPTION DEFAULT_UNICODE_EDIT_CAPTION
FONT 8, "Tahoma", 0, 0, 0
BEGIN
    LTEXT           DEFAULT_UNICODE_EDIT_LABEL, ID_CONFIG_LABEL_1, 52,12,38,12
    EDITTEXT        ID_CONFIG_EDIT, 84,10,32,12, ES_RIGHT | ES_MULTILINE | ES_WANTRETURN
    LTEXT           L"0000", ID_CONFIG_LABEL_2, 120,12,32,12
    DEFPUSHBUTTON   DEFAULT_UNICODE_BTN_CANCEL_TXT, IDCANCEL, 130,32,60,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   DEFAULT_UNICODE_BTN_RESET_TXT, IDRETRY, 61,32,65,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   DEFAULT_UNICODE_BTN_OK_TXT, IDOK, 10,32,46,14, DEFAULT_BTTN_STYLE
END

/* Custom layout for CJK translations */

ID_ABOUT_HTML_TAG_DLG_CJK DIALOGEX 30, 30, 232, 170
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION DEFAULT_CAPTION
FONT 8, "Segoe UI", 0, 0, 0
BEGIN
    LTEXT      "", ID_PLUGIN_VERSION_TXT, 74,6,72,16
    CONTROL    "", ID_RELEASE_NOTES_LINK, "Static", DEFAULT_LINK_STYLE, 93,18,48,10
    CONTROL    "", ID_BUG_TRACKER_LINK, "Static", DEFAULT_LINK_STYLE, 101,28,18,10
    CONTROL    "", ID_PLUGIN_REPO_LINK, "Static", DEFAULT_LINK_STYLE, 100,38,20,16
    LTEXT      PLUGIN_AUTHOR_COPYRIGHT, ID_PLUGIN_AUTHOR_TXT, 36,54,256,10
    LTEXT      PLUGIN_MAINTAINER_COPYRIGHT, ID_PLUGIN_MAINTAINER_TXT, 47,64,256,10
    LTEXT      "", ID_PLUGIN_LICENSE_TXT, 68,76,92,10
    LTEXT      "", ID_SIMPLEINI_TXT, 36,88,64,10
    CONTROL    L"SimpleIni", ID_SIMPLEINI_LINK, "Static", DEFAULT_LINK_STYLE, 53,88,30,10
    LTEXT      SIMPLEINI_COPYRIGHT, ID_SIMPLEINI_LICENSE_TXT, 83,88,256,14
    LTEXT      "", ID_TINYXML_TXT, 30,98,256,14
    CONTROL    L"TinyXML-2", ID_TINYXML_LINK, "Static", DEFAULT_LINK_STYLE, 61,98,34,14
    LTEXT      TINYXML_COPYRIGHT, ID_TINYXML_LICENSE_TXT, 95,98,256,14
    CONTROL    "", ID_ENTITIES_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 93,112,32,10
    CONTROL    "", ID_TRANSLATIONS_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 94,124,32,10
    LTEXT      "", ID_UNICODE_FMT_LABEL_TXT, 64,138,128,10
    LTEXT      L"\\u0000", ID_UNICODE_USER_FMT_TXT, 126,138,64,10
    CONTROL    "", ID_UNICODE_CONFIG_LINK, "Static", DEFAULT_LINK_STYLE, 101,148,18,10
END

ID_UNICODE_FMT_CONFIG_DLG_CJK DIALOGEX 30, 60, 200, 52
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST
CAPTION DEFAULT_UNICODE_EDIT_CAPTION
FONT 8, "Segoe UI", 0, 0, 0
BEGIN
    LTEXT          "", ID_CONFIG_LABEL_1, 50,12,48,12
    EDITTEXT       ID_CONFIG_EDIT, 88,10,32,12, ES_RIGHT | ES_MULTILINE | ES_WANTRETURN
    LTEXT          "0000", ID_CONFIG_LABEL_2, 125,12,32,12
    DEFPUSHBUTTON  "", IDCANCEL, 130,32,52,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON  "", IDRETRY, 74,32,52,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON  "", IDOK, 18,32,52,14, DEFAULT_BTTN_STYLE
END

/* Custom layout for RTL translations */

ID_ABOUT_HTML_TAG_DLG_RTL DIALOGEX 30, 30, 232, 170
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_RTLREADING
CAPTION DEFAULT_CAPTION
FONT 8, "Segoe UI", 0, 0, 0
BEGIN
    LTEXT      "", ID_PLUGIN_VERSION_TXT, 84,6,120,16
    CONTROL    "", ID_RELEASE_NOTES_LINK, "Static", DEFAULT_LINK_STYLE, 95,18,42,10
    CONTROL    "", ID_BUG_TRACKER_LINK, "Static", DEFAULT_LINK_STYLE, 104,28,24,10
    CONTROL    "", ID_PLUGIN_REPO_LINK, "Static", DEFAULT_LINK_STYLE, 104,38,28,16
    LTEXT      PLUGIN_AUTHOR_COPYRIGHT, ID_PLUGIN_AUTHOR_TXT, 44,54,256,10
    LTEXT      PLUGIN_MAINTAINER_COPYRIGHT, ID_PLUGIN_MAINTAINER_TXT, 56,64,256,10
    LTEXT      "", ID_PLUGIN_LICENSE_TXT, 68,76,92,10
    CONTROL    L"SimpleIni", ID_SIMPLEINI_LINK, "Static", DEFAULT_LINK_STYLE, 29,88,30,10
    LTEXT      SIMPLEINI_COPYRIGHT, ID_SIMPLEINI_LICENSE_TXT, 60,88,256,14
    LTEXT      "", ID_SIMPLEINI_TXT, 168,88,64,10
    CONTROL    L"TinyXML-2", ID_TINYXML_LINK, "Static", DEFAULT_LINK_STYLE, 27,98,34,14
    LTEXT      TINYXML_COPYRIGHT, ID_TINYXML_LICENSE_TXT, 61,98,256,14
    LTEXT      "", ID_TINYXML_TXT, 162,98,256,14
    CONTROL    "", ID_ENTITIES_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 87,112,62,10
    CONTROL    "", ID_TRANSLATIONS_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 92,124,48,10
    LTEXT      L"\\u0000", ID_UNICODE_USER_FMT_TXT, 60,138,36,10
    LTEXT      "", ID_UNICODE_FMT_LABEL_TXT, 106,138,136,10
    CONTROL    "", ID_UNICODE_CONFIG_LINK, "Static", DEFAULT_LINK_STYLE, 102,148,24,10
END

ID_UNICODE_FMT_CONFIG_DLG_RTL DIALOGEX 30, 60, 200, 52
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST | WS_EX_RTLREADING
CAPTION DEFAULT_UNICODE_EDIT_CAPTION
FONT 8, "Segoe UI", 0, 0, 0
BEGIN
    EDITTEXT        ID_CONFIG_EDIT, 64,10,32,12, ES_RIGHT | ES_MULTILINE | ES_WANTRETURN
    LTEXT           L"0000", ID_CONFIG_LABEL_2, 99,12,32,12
    LTEXT           "", ID_CONFIG_LABEL_1, 122,12,32,12
    DEFPUSHBUTTON   "", IDCANCEL, 128,32,48,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   "", IDRETRY, 76,32,48,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   "", IDOK, 24,32,48,14, DEFAULT_BTTN_STYLE
END
