/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this file,
  You can obtain one at https://mozilla.org/MPL/2.0/.

  Copyright (c) Martijn Coppoolse <https://github.com/vor0nwe>
  Revisions copyright (c) 2022-2024 Robert Di Pardo <dipardo.r@gmail.com>
*/
#include "resource.h"

MAINICON ICON "HTMLTag.ico"

1 VERSIONINFO
  FILEVERSION HTMLTAG_VERSION_WORDS
  PRODUCTVERSION HTMLTAG_VERSION_WORDS
  FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x40004L
  FILETYPE 0x2L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "Comments", L"https://github.com/rdipardo/nppHTMLTag/issues\0"
      VALUE "CompanyName", L"Voronw\353\0"
      VALUE "FileDescription", L"HTML Tag plugin for Notepad++\0"
      VALUE "InternalName", L"HTMLTag\0"
      VALUE "LegalCopyright", L"\251 Martijn Coppoolse\0"
      VALUE "OriginalFilename", L"HTMLTag.dll\0"
      VALUE "ProductName", L"HTML Tag\0"
      VALUE "ProductVersion", HTMLTAG_VERSION
      VALUE "FileVersion", HTMLTAG_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END

ID_ABOUT_HTML_TAG_DLG DIALOGEX 30, 30, 232, 170
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "HTML Tag plugin for Notepad++"
FONT 8, "Tahoma", 0, 0, 0
BEGIN
    LTEXT      L"", ID_PLUGIN_VERSION_TXT, 74,6,128,16
    CONTROL    L"Release Notes", ID_RELEASE_NOTES_LINK, "Static", DEFAULT_LINK_STYLE, 88,18,48,10
    CONTROL    L"Bugs", ID_BUG_TRACKER_LINK, "Static", DEFAULT_LINK_STYLE, 102,28,20,10
    CONTROL    L"Downloads", ID_PLUGIN_REPO_LINK, "Static", DEFAULT_LINK_STYLE, 92,38,38,16
    LTEXT      PLUGIN_AUTHOR_COPYRIGHT, ID_PLUGIN_AUTHOR_TXT, 44,54,256,10
    LTEXT      PLUGIN_MAINTAINER_COPYRIGHT, ID_PLUGIN_MAINTAINER_TXT, 47,64,256,10
    LTEXT      PLUGIN_LICENSE, ID_PLUGIN_LICENSE_TXT, 68,76,256,10
    LTEXT      L"Using", ID_SIMPLEINI_TXT, 36,88,64,10
    CONTROL    L"SimpleIni", ID_SIMPLEINI_LINK, "Static", DEFAULT_LINK_STYLE, 56,88,30,10
    LTEXT      SIMPLEINI_COPYRIGHT, ID_SIMPLEINI_LICENSE_TXT, 86,88,256,14
    LTEXT      L"Also using", ID_TINYXML_TXT, 30,98,256,14
    CONTROL    L"TinyXML-2", ID_TINYXML_LINK, "Static", DEFAULT_LINK_STYLE, 65,98,34,14
    LTEXT      TINYXML_COPYRIGHT, ID_TINYXML_LICENSE_TXT, 99,98,256,14
    CONTROL    L"HTML entities file", ID_ENTITIES_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 87,112,56,10
    CONTROL    L"Localizations file", ID_TRANSLATIONS_FILE_LINK, "Static", DEFAULT_LINK_STYLE, 88,124,56,10
    LTEXT      L"Unicode character format:", ID_UNICODE_FMT_LABEL_TXT, 60,138,128,10
    LTEXT      L"\\u0000", ID_UNICODE_USER_FMT_TXT, 144,138,64,10
    CONTROL    L"Configure", ID_UNICODE_CONFIG_LINK, "Static", DEFAULT_LINK_STYLE, 97,148,32,10
END

ID_UNICODE_FMT_CONFIG_DLG DIALOGEX 30, 60, 160, 52
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME| WS_EX_TOPMOST
CAPTION "Change Unicode character prefix"
FONT 8, "Tahoma", 0, 0, 0
BEGIN
    LTEXT           L"Format:", ID_CONFIG_LABEL_1, 34,12,32,12
    EDITTEXT        ID_CONFIG_EDIT, 64,10,32,12, ES_RIGHT | ES_MULTILINE | ES_WANTRETURN
    LTEXT           L"0000", ID_CONFIG_LABEL_2, 100,12,32,12
    DEFPUSHBUTTON   "&Cancel", IDCANCEL, 100,32,32,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   "&Reset", IDRETRY, 64,32,32,14, DEFAULT_BTTN_STYLE
    DEFPUSHBUTTON   "&OK", IDOK, 28,32,32,14, DEFAULT_BTTN_STYLE
END
